<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Email" formControlName="email">
        <div>
          <p>{{showDescriptionError('Email', 'email')}}</p>
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <div>
          <p>{{showDescriptionError('Password', 'password')}}</p>
        </div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
